
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#App {
  flex: 1;
}

.line {
  width: 3px;
  position: absolute;
  left: 200px;
  height: 100%;
  z-index: -1;
}