html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html, body, #App, #App>div {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: #19364C;
  color: #fff;
}
